.feedback {
  // padding-top: 123px;
  // padding-bottom: 70px;
  &__grid {
    display: grid;
    gap: 40px 32px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  &__image {
    transition: all 0.3s;
    img {
      display: block;
      transition: all 0.3s;
    }
    &:hover {
      box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.2);

      img {
        scale: 1.05;
      }
    }
  }

  @media (max-width: 1279px) {
    // padding-top: 70px;
    // padding-bottom: 35px;
    &__grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 25px;
    }
    &__grid-column--right {
      order: -1;
    }
    &__image img {
      width: 100%;
    }

    .title {
      br {
        display: none;
      }
    }
  }
}
