.header {
  position: fixed;
  z-index: 10;
  width: 100%;

  background-color: transparent;
  transition: background-color all 0.3s;
  // padding-top: 16px;
  // padding-bottom: 16px;
  padding: 0;
  color: var(--dark);
}

.header__grid {
  grid-template-columns: auto 1fr auto;
  @media (max-width: 1380px) {
    gap: 16px;
  }

  @media (max-width: 1023px) {
    grid-template-columns: auto 1fr;
  }
}

.header__logo {
  @media (max-width: 767px) {
  }
}

.header__nav {
  @media (max-width: 1023px) {
    display: none;
  }
}

.header__contacts {
  width: 100%;
  max-width: 365px;
  display: grid;
  gap: 0 32px;
  grid-template-columns: repeat(2, auto);
  align-items: center;

  @media (max-width: 1380px) {
    grid-template-columns: repeat(1, auto);
  }
  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, auto);
    gap: 24px;
    max-width: max-content;
    margin-left: auto;
  }
  @media (max-width: 767px) {
  }
}

.header__tel {
}
.header__link {
}
.header__button-menu {
  display: none;

  @media (max-width: 1023px) {
    display: flex;
  }
}
