.overview {
  margin-bottom: 10px;
  &__grid {
    display: grid;
    gap: 47px 160px;
    grid-template-columns: 9fr 3fr;
  }

  @media (max-width: 1380px) {
    margin-bottom: 0;
    &__grid {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 767px) {
    &__grid {
      gap: 40px;
    }
  }
}
