.advantages {

  &__list {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }

  &__icon {
    margin-bottom: 11px;
    height: 45px;
    width: 45px;
    display: flex;

    svg {
      display: block;
      flex-shrink: 0;
      transition: all 0.3s;
    }
    path {
      transition: all 0.3s;
    }
  }

  &__title {
    display: block;
    margin: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: var(--dark);
  }

  &__description {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
  }

  &__item:hover &__icon svg {
    scale: 1.1;
  }
  &__item:hover &__icon path {
    stroke: #FF9600;
  }

  @media (max-width: 1380px) {
    &__list {
      gap: 40px 32px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 767px) {
    &__list {
      gap: 23px;
      grid-template-columns: repeat(1, 1fr);
    }
    &__title {
      margin-bottom: 6px;
    }
  }
}
