.buttons-grid {
  display: grid;
  gap: 24px 32px;
  max-width: max-content;
  grid-template-columns: repeat(2, auto);

  .button {
    padding-inline: 20px;
    max-width: 100%;
  }

  // @media (max-width: 1023px) {
  //   gap: 16px;
  //   max-width: 100%;
  //   grid-template-columns: 1fr;
  // }



  @media (max-width: 767px) {
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    width: 100%;
  }
}
