.form {
  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px;
  }
  &__check {
    margin-bottom: 41px;

    label {
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: var(--dark);
      padding-left: calc(32px + 17px);
      position: relative;
      display: block;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        background-color: #fff;
        border: 1px solid var(--line);
        transition: all 0.3s;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 18px;
        height: 14px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 5L7.24242 12L17 1' stroke='white' stroke-width='2'/%3e%3c/svg%3e ");
        background-repeat: no-repeat;
        opacity: 0;
        transition: all 0.3s;
      }
    }

    // Активный чекбокс
    input[type="checkbox"]:checked + label::before {
      background: var(--darkorange);
    }

    input[type="checkbox"]:checked + label::after {
      opacity: 1;
    }
  }

  @media (max-width: 767px) {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      margin-bottom: 20px;
    }
    &__check {
      label {
        padding-left: calc(25px + 10px);
        &::before {
          width: 25px;
          height: 25px;
        }
        &::after {
          top: 5px;
          left: 4px;
          scale: 0.8;
        }
      }

      br {
        display: none;
      }
    }
    &__check {
      margin-bottom: 23px;
    }
  }
}

input,
textarea {
  max-width: 100%;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  color: var(--dark);
  padding: 10px 24px;
  height: 56px;
  background: var(--white);
  border: 1px solid var(--line);
  border-radius: 0;

  @media (max-width: 767px) {
    height: 50px;
  }
}
