.main-navigation {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    max-width: 100%;
    justify-content: center;
  }
  &__item {
    max-width: max-content;
  }
  &__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark);
    transition: all 0.3s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    height: 96px;
    background-color: transparent;
    &:hover,
    &:active,
    &:focus,
    &.active {
      background: var(--darkorange);
      color: var(--white);
    }
  }

  @media (max-width: 1380px) {
    &__link {
      padding: 0 14px;
    }
  }

  @media (max-width: 1023px) {
  }
}
