.partners {
  max-width: max-content;
  &__title {
    display: block;
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: var(--dark);
  }
  &__grid {
    display: grid;
    gap: 25px 32px;
    grid-template-columns: repeat(2, 1fr);
  }
  &__logo {
    width: 160px;
    // height: 80px;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s;

    &:hover {
      scale: 1.1;
      box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.2);
    }
  }
  &__name {
    display: block;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    color: var(--dark);
    // margin-bottom: 10px;
  }
  &__location {
    display: block;
    margin: 0;
    font-weight: 400;
    color: #616160;
    font-size: 14px;
  }

  @media (max-width: 1380px) {
    &__grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 41px 32px;
    }
    &__logo {
      width: 208px;
      // height: 104px;
    }
  }
  @media (max-width: 1023px) {
    &__grid {
      grid-template-columns: repeat(3, 1fr);

    }
  }

  @media (max-width: 767px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 22px 14px;
    }
    &__title {
      font-size: 23px;
      margin-bottom: 20px;
    }
    &__logo {
      width: 160px;
      // height: 80px;
      margin-bottom: 7px;
    }
    &__name {
      // margin-bottom: 0;
    }
  }
}
