.simple-gallery-four {
  margin-bottom: 40px;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }

  &__image {
    display: block;
  }
  figure {
    display: block;
    margin: 0;
  }

  figcaption {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    margin-top: 14px;
    b {
      display: block;
      color: var(--dark);
    }
  }
}
