.swiper-button {
  width: 96px;
  height: 96px;
  background-color: transparent;
  border: none;
  &::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 0;
    border-radius: 0;
    background-color: var(--white);
    border: 1px solid var(--line);
  }
  &::after {
    display: none;
  }

  svg {
    position: relative;
    z-index: 2;
    pointer-events: none;
    width: 15px;
    transition: all 0.3s;

    path {
      transition: all 0.3s;
    }
  }

  &:hover {
    &::before {
      left: -8px;
      top: -8px;
      bottom: -8px;
      right: -8px;
      box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.2);


    }
    svg {
      scale: 1.2;
    }

    svg path {
      stroke: #ff9600;
    }
  }

  @media (max-width: 1023px) {
    width: 88px;
    height: 88px;

    svg {
      width: 10px;
    }
  }

  @media (max-width: 767px) {
    width: 50px;
    height: 50px;

    svg {
      width: 15px;
    }

    &:hover {
      &::before {
        left: -4px;
        top: -4px;
        bottom: -4px;
        right: -4px;
      }
    }
  }
}
