.title {
  margin-top: 0;
  font-style: normal;
  font-family: var(--font-family);
  position: relative;
  font-weight: 700;
  font-size: 48px;
  line-height: 117%;
  color: var(--dark);

  &--big {
    font-size: 64px;
  }

  &--small {
    font-size: 24px;
  }

  &--min {
    font-size: 18px;
  }

  &--custom {
    max-width: max-content;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 2px;
      background-color: var(--orange);
      margin: 7px 0 7px 16px;
    }
  }

  @media (max-width: 1023px) {}

  @media (max-width: 767px) {
    font-size: 30px;

    &--small {
      font-size: 24px;
    }

    &--min {
      font-size: 18px;
    }


  }
}
