.title {
  margin-top: 0;
  font-style: normal;
  font-family: var(--font-family);
  position: relative;
  font-weight: 700;
  font-size: 48px;
  line-height: 117%;
  color: var(--dark);

  @media (max-width: 1023px) {
    font-size: 45px;
  }

  @media (max-width: 767px) {
    font-size: 35px;
  }
}

.title--big {
  font-size: 64px;
}

.title--small {
  font-size: 24px;
}

.title--min {
  font-size: 18px;
}
